Suggestion: SEP10 - Store source account in JWT

SEP10 currently does not store the anchor-client source account address (passed as `account` to `GET /auth`) in the JWT token. The JWT's `jti` field stores the transaction hash, but the transaction hash cannot be decoded back to the transaction envelope, which contain the signatures and that source account address, which is required for SEP24 transactions.  
This forces the anchor to internally map each JWT to its associated account address, possibly using shared storage instances (MySQL, Redis, etc), requiring look-up calls each time the JWT is sent in a request in SEP24 in order to retrieve the associated account address and authorize transactions in the account.   
To avoid these look-ups and improve the efficiency of retrieving the account address from the JWT, I suggest adding a "account" field to the JWT, which would store the source account address and allow the Anchor to easily verify if the JWT sent in a SEP24 call belongs to the same account which signed the JWT generated in SEP10:

```python
# SEP10 JWT generation
issued_at = time.time()
envelope = TransactionEnvelope.from_xdr(envelope_xdr)
source_account = envelope.tx.source.decode("ascii")
hash_hex = binascii.hexlify(envelope.hash_meta()).decode()
jwt_dict = {
    "iss": request.build_absolute_uri(reverse("sep10:auth")),
    "sub": settings.ANCHOR_SIGNING_PUBKEY,
    "iat": issued_at,
    "exp": issued_at + 24 * 60 * 60,
    "jti": hash_hex,
    "account": source_account,
}
encoded_jwt = jwt.encode(jwt_dict, settings.SERVER_JWT_SECRET, algorithm="RS256")
return encoded_jwt.decode("ascii")
```

The source account on the transaction is the Stellar public key of the server and not the client.

The Stellar public key of the client which is the `tx.operations[0].source_account` will be stored in the subject field `sub` and should be accessible there without needing to persist any details in a database.

If we needed to surface the Stellar public key of the server in the JWT I'd put it in the issuer field `iss`.

@msfeldstein Am I understanding this correctly?

@leighmcculloch Thank, this clarifies a lot. You're right, the `sub` value is supposed to contain the user public key as mentioned in SEP10:  
`sub` *(the principal that is the subject of the JWT, [RFC7519, Section 4.1.2](https://tools.ietf.org/html/rfc7519#section-4.1.2)) — the public key of the authenticating Stellar account (`G...`)*, 
 and `envelope.tx.source` actually contains the server signing public key.
It was a protocol misunderstanding on my end.