Authorization Method not specified in SEP-0010

Currently SEP-0010 does not specify how to use the JWT token to authorize subsequent requests, it simply says: "Any future calls to the server can be authenticated by including the JWT as a parameter" in the abstract.

I think there should be a specification of how to use the token when communicating with protected endpoints. As such, I would suggest a header, e.g. `Authorization: Bearer <JWTTOKEN>`, this is what e.g. Stellarport already uses . What would be the formally correct way to suggest such change to the SEP? @tomquisel @nebolsin @istrau2 

@marcinx There're a lot of possible applications of SEP-10 and they could have different authentication/authorization requirements and capabilities (for example, system like Mobius Dapp Store acquires the JWT and then redirects user to the dapp URI with `jwt=` param, I'm not sure it would be possible to set `Authorization` header for traditional browser redirect). 

The idea was to keep SEP-10 as generic as possible and only specify the `client  <-> web_auth_endpoint` interaction necessary to acquire the session token, leaving the `client <-> protected_endpoint` communications outside the scope. How to pass the token to the protected service could be specified by a higher-level SEP (for example, [SEP-12](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0012.md#customer-put) expects it in `jwt` parameter) or it could be an implementation detail of the particular service.

I want to also mention that SEP-10 in this revision has some serious limitations:
- auth with multi-sig account is not supported (see #226 and #240 for details);
- it lacks permission granularity, which is particularly important for "real" multi-sig with a few independent parties as co-signers;
- the original design goal was to support the existing Stellar hardware wallets, so the whole flow is implemented on top of usual Stellar txs and operations, which makes it is not flexible/extendable, required some arbitrary hacks  (like making transactions intentionally invalid) and still needs additional support from the wallets to get the acceptable UX.

I thought about all this for a long time, and I currently think that we need to completely redesign web (off-chain) authentication/authorization using Stellar account, and probably build it on top of established frameworks like OAuth2/OpenID Connect.  

@nebolsin I'm very interested in your thoughts on how to redesign SEP-10. If we're going to do it, we should do it sooner rather than later. How would you support hardware wallets and OAuth2?

@nebolsin Would it make sense then to specify the authentication header in SEP-0006 instead? 

It probably makes perfect sense to leave the method of obtaining the token isolated in SEP-0010 as you suggest. In SEP-0006 it would be a good place to include it I guess to have a more normalized and documented way of communicating with anchors when authentication is required.

Coincidentally, I just realized that there are already efforts to do exactly that: https://github.com/stellar/stellar-protocol/pull/231/commits/4d2b721e6dd71e4edbbbf0dfd8532779c9dd6f0d

@marcinx Yep, in my opinion SEP-6 is the correct place for that.

@tomquisel Unfortunately I don't have the complete proposal for now, but for authorization part I currently look at OAuth 2.0 Assertion Framework ([RFC7521](https://tools.ietf.org/html/rfc7521)) with JWT Profile ([RFC7523](https://tools.ietf.org/html/rfc7523)), Ed25519 Signing ([RFC8037](https://tools.ietf.org/html/rfc8037#appendix-A.4)) and probably JWT Proof-of-posession ([RFC7800](https://tools.ietf.org/html/rfc7800)). Stellar apps for hardware wallets will need to implement another type of signing for authn/authz JWT tokens, which clearly shows to the user which authorization scopes are requested and issue signed JWT assertion after confirmation. There's also a new [Webauthn](https://www.w3.org/TR/webauthn/#other-configurations) standard which looks promising, but I didn't yet figured out if it would be possible for  wallets (including hardware) to act as Webauthn Authenticators.

@nebolsin do you think it's better to have a separate issue tracking the changes we'd like to make to SEP-0010? I'm happy to open one up with your response here, but if you have more context, it'd be certainly useful for us to keep an eye on and potentially put resources into in the future.

@theaeolianmachine Yeah, I think this issue can be closed and we can move SEP-10 potential improvements discussion into a separate issue.

Closing this out, and created https://github.com/stellar/stellar-protocol/issues/331 in order to track SEP-0010 V2. @nebolsin would greatly appreciate it if you could summarize some of your ideas in a comment there in order to start discussion on the subject. I agree with Tom that we'd love to determine what needs to change sooner rather than later, especially as adoption begins (that being said, it will ultimately be versioned).